.nav {
   
    width: min-content;
    background:rgb(33, 37, 41);
    height: 100vh;
  
}
i.fa.fa-bell-o {
    color: white;
}
i.fa.fa-bell-o:hover{
    color:white;
}
a#ico {
    background: red;
    color: white;
}
.navbar-dark .navbar-nav .nav-link {
    color: white;
}

button#dropdown-basic {
    background: #343a40!important;
}
.dropdown-toggle::after {
    display: contents;
}
a.dropdown-item {
   
    padding-left: 5px;
}
a.dropdown-item:hover {
    padding-left: 0px;
    background: chocolate;
    color: white;
}
