.nav {
   
    width: min-content;
    background:rgb(33, 37, 41);
    height: 100vh;
  
}
i.fa.fa-bell-o {
    color: white;
}
i.fa.fa-bell-o:hover{
    color:white;
}
a#ico {
    background: red;
    color: white;
}
.navbar-dark .navbar-nav .nav-link {
    color: white;
}