.B-box{
  width:70%;
  padding:20px;
  margin:100px auto;
  display:flex;
  justify-content:center;
 
}
.box{
  width:200px;
  height:250px;
  background: orange;
  float:left;
  margin:0px 10px;
  transition:1s;
}
.box:hover{
  
  background: #ff800a;
  box-shadow: 2px 2px 2px #000;
}
.package img{
  width:95%;
  height:250px;
}
.package1 img{
  width:90%;
  height:215px;
  margin-top: 20px;
  margin-left: 20px;
}

.box  span{
  position:relative;
  width:300px;
  background:#6ab1f5;
  padding: 5px 0;
  text-align: center;
  border-radius: 8px;
  display: block;
  margin:0 auto;
  margin-top: 25px;
  opacity:0;
  transition:0.6s opacity;
}
.box span:before{
  content:'';
  width: 10px;
  height:10px;
  position:absolute;
  top:-6px;
  background:black;
  z-index:-1;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
}
.box:hover >span{
  opacity:1;
}