
.login {
  display: flex;
  flex-direction: column;
  

}
.login {
  align-items: center;
  }
  
.login h2 {
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  color: #4682B4;
  margin-top: 90px;
  margin-bottom: 10px;
  }

.login a {
  text-align: center;
  }

.login input[type='text'] {
  background-color: #e6e6e6;
  color: #000000;
  font-size: 16px;
  margin-bottom: 20px;
  border: none;
  width: 100%;
  padding: 10px 80px;
  border-radius: 5px;
 
}

.login input[type=text]:focus{
  outline: none;    
  box-shadow: 0 0 0 2px #4682B4;
  }

.login input[type='password'] {
  background-color: #e6e6e6;
  padding: 10px 80px;
  color: #000000;
  font-size: 16px;
  margin-bottom: 20px;
  border: none;
  width: 100%;
  border-radius: 5px;
  
  }

.login input[type='password']:focus{
    outline: none;      
    box-shadow: 0 0 0 2px #4682B4;
  }
  
.login button[type='submit'] {
    padding: 7px 20px;
    background-color: #4682B4;
    color: #fff;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 10px;
    border: none;
    width: 100%;
    border-radius: 5px;
  }
  
.login button[type='submit']:focus{
    outline: none;      
    box-shadow: 0 0 0 2px #4682B4;
  }


.check {
  font-size: 16px;
  }
